services:
  postgres:
    image: postgres:18.1
    container_name: postgres
    environment:
      - POSTGRES_DB=bookdb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=aA@741859
      - TZ=America/Sao_Paulo
    ports:
      - "5432:5432"
    expose:
      - "5432"
    networks:
      - book-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  backend:
    image: rrsolucoesti/book-service
    container_name: book-service
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      TZ: America/Sao_Paulo
      JAVA_TOOL_OPTIONS: -Duser.timezone=America/Sao_Paulo
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/bookdb
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: aA@741859
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - book-network

networks:
  book-network:
    driver: bridge