security:
  jwt:
    token:
      secret-key: 53cr37
      expire-length: 3600000
server:
  port: 80
spring:
  application:
    name: book-service
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.xml
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://book-db-server.cd42i02k8vet.sa-east-1.rds.amazonaws.com:5432/bookdb
    username: postgres
    password: admin123
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          time_zone: America/Sao_Paulo
    show-sql: true
logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
